trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
  submodules: true

- task: NodeTool@0
  inputs:
    versionSpec: '18.x'
  displayName: 'Use Node.js'

- script: npm ci --legacy-peer-deps
  displayName: 'Install (legacy peer deps)'

- script: npm run build
  displayName: 'Build'

- task: AzureStaticWebApp@0
  inputs:
    app_location: '/'
    api_location: 'api'
    output_location: 'dist'
    skip_app_build: true
  env:
    azure_static_web_apps_api_token: $(deployment_token)
